
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
.Python
env/
venv/
# Virtual environment
virtualenv/
virtualenvs/
venv/
.venv/

# Editor directories and files
.vscode/
.idea/

# Environment variables
.env
.flaskenv

# Databases
*.sqlite3
*.db

# Logs
*.log

*.DS_Store